// RWD size
$XL-media: 1760px;
$L-media: 1240px;
$M-media: 920px;
$S-media: 556px;

// 1760px > Display
@mixin XLpc-width() {
  @media all and (min-width: $XL-media) {
    @content;
  }
}

// 1760px ~ 1240px Display
@mixin Lpc-width() {
  @media all and (max-width: $XL-media) and (min-width: $L-media) {
    @content;
  }
}

// 1240px ~ 860px Display
@mixin pc-width() {
  @media all and (max-width: $L-media) and (min-width: $M-media) {
    @content;
  }
}

// 860px ~ 556px Display
@mixin pad-width() {
  @media all and (max-width: $M-media) and (min-width: $S-media) {
    @content;
  }
}

// 860px ~ 0 Display
@mixin pad-under-width() {
  @media all and (max-width: $M-media) {
    @content;
  }
}

// 556px ~ 0 Display
@mixin phone-width() {
  @media all and (max-width: $S-media) {
    @content;
  }
}
