$color_white: #ffffff;
$color_black: #000000;

// 主色
$color_primary: #fbfbfb;

// 強調色
$color_accent: #a9d4d9;
$color_accent-light: #b5e0cf;

// 輔助色
$color_auxiliary: #bfbba4;

// 文字顏色
$color_text: #403520;

// 邊框色彩
$color_line: #ededed;

// 其他色彩
$color_security: #5eb67d;
$color_notice: #fdce63;
$color_danger: #af6037;

// 漸層色
$color-gradient: $color_accent, $color_auxiliary;

// 陰影
$box-shadow_element: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
