%triangle_top {
  position: absolute;

  @include triangle($color_accent, 10px, 8px);
}

%absolute-layout_full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

%absolute-layout_full-width {
  position: absolute;
  right: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
}

%absolute-layout_full-height {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
}
