$row-size_col-margin-small: 10px;
$row-size_col-min: 240px;

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -$row-size_col-margin-small;
  margin-left: -$row-size_col-margin-small;

  &__col {
    display: inline-flex;
    align-items: flex-start;
    flex: 1 $row-size_col-min;
    flex-direction: column;
    box-sizing: border-box;
    padding: $row-size_col-margin-small;

    &--between {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__clear-row {
    position: absolute;
    top: 8px;
    right: 5px;
    color: $color_danger;
    cursor: pointer;
  }

  @for $itemNumber from 1 through 12 {
    &__col--#{$itemNumber} {
      display: inline-flex;
      align-items: flex-start;
      flex: 0 0 calc(#{100% * ($itemNumber/12)});

      @include phone-width() {
        flex: 1 $row-size_col-min;
      }
    }
  }
}
