.form {
  font-size: 0.85rem;

  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='phone'],
  input[type='number'],
  input[type='date'],
  input[type='time'],
  input[type='datetime-local'],
  textarea,
  select {
    @extend %input-block_base;
  }

  textarea {
    min-height: 300px;
    border-radius: 20px;
    font-size: 1rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;

    > b {
      margin-bottom: 7px;
      font-weight: 500;
    }
  }

  &__checkbox {
    padding: 10px;
    font-weight: 500;
    font-size: 1rem;

    @extend %flex-row-center;

    > input[type='checkbox'] {
      margin-right: 8px;

      @include square(1.5rem);
    }
  }

  &__error-message {
    margin-top: 5px;
    color: $color_danger;
  }
}
